.container {
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: bold;
}

.userIcon {
  width: 35px; /* tamanho da bonequinha */
  height: 35px;
  border-radius: 50%;
}

.userName {
  font-size: 16px;
}

.icons {
  display: flex;
  gap: 10px;
}

.iconImg {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
}

.imageContainer {
  margin-top: 20px;
}

.flower {
  width: 100px;
  height: auto;
  opacity: 0.9;
}

.title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.ano {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.meses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px; /* mais próximo */
  margin: 10px 0;
}

.mesImg {
  width: 280px;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
  margin: 0 auto;
}

.mesImg:hover {
  transform: scale(1.08);
}
