/* Tela rosa em tela cheia */
.screen {
  background-color: #f3d9dc; /* rosa suave */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza na vertical */
  align-items: center;     /* centraliza na horizontal */
  text-align: center;
}

/* Estilo do título */
.title {
  font-family: "Brush Script MT", cursive;
  font-size: 150px;
  font-weight: normal;
  color: #1f1f1f;
  margin-bottom: 20px;
}

/* Estilo do subtítulo */
.subtitle {
  font-family: Georgia, serif;
  font-size: 22px;
  color: #333;
}